// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sale_form {
  display: inline-block;
}
.detail_destroy p {
  margin-bottom: -20px;
}
.sale_price {
  display: inline-block;
  margin-bottom: -10px;
}